<section class="courses-section heading-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="">About Us</h1>
				</div>

			</div>
		</div>
	</div>
</section>
<section id="content">
	<div class="container">

		<div class="about">

			<div class="row box1 effect2">
				<div class="col-md-12">
					<div class="about-logo">
						<h3>We are awesome <span class="color">TEAM</span></h3>
						<ul>
							<li>We all are the professional developers and we are enthusiastic to deliver our knowledge
								as
								per industry standard to the students who are coming into Information Technology field.
							</li>
							<li>
								Our Institute has defined global certification path for all front-end programming
								language.
							</li>
							<li>We have a big team to teach each and every technology what world demands.</li>
							<li>We follow our commitment regarding time, training, placement and friendly nature at VARS
								premises.</li>
						</ul>
					</div>
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Read More</button>
					<div id="demo" class="collapse">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>

			<hr>

			<div class="row box1 effect2 ">
				<div class="col-md-6">
					<div class="block-heading-two">
						<h3><span>Why Choose Us?</span></h3>
					</div>
					<!-- Accordion starts -->
					<div class="panel-group" id="accordion-alt3">
						<!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
						<div class="panel">
							<!-- Panel heading -->
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
										<i class="fa fa-chevron-circle-right"></i> Expert Trainers
									</a>
								</h6>
							</div>
							<div id="collapseOne-alt3" class="panel-collapse collapse">
								<!-- Panel body -->
								<div class="panel-body adjust-margin">
									All our trainers are working professional with more than 6 years of experience in
									the industry
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
										<i class="fa fa-chevron-circle-right"></i> 50% Theory & Practical
									</a>
								</h6>
							</div>
							<div id="collapseTwo-alt3" class="panel-collapse collapse">
								<div class="panel-body adjust-margin">
									All our training programs are 50% theory & 50% practical, Trainers provide industry
									based practical scenarios as part of courses as part of courses
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
										<i class="fa fa-chevron-circle-right"></i> Flexible Batch Times
									</a>
								</h6>
							</div>
							<div id="collapseThree-alt3" class="panel-collapse collapse">
								<div class="panel-body adjust-margin">
									Our training programs are arranged in a more flexible manner, you can choose your
									own training schedule. The batches will be held on Saturday & Sunday only
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
										<i class="fa fa-chevron-circle-right"></i> Lowest Fees
									</a>
								</h6>
							</div>
							<div id="collapseFour-alt3" class="panel-collapse collapse">
								<div class="panel-body adjust-margin">
									Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium
									doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
									veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
									voluptatem quia voluptas
								</div>
							</div>
						</div>
						<div class="panel">
							<!-- Panel heading -->
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
										<i class="fa fa-chevron-circle-right"></i> Global Certification
									</a>
								</h6>
							</div>
							<div id="collapseOne-alt3" class="panel-collapse collapse">
								<!-- Panel body -->
								<div class="panel-body adjust-margin">

									For the bright Future and Job purpose, we have a facility for Global Certification
									Exams to ensure your Job Guarantee for sure in MNCs and more.
								</div>
							</div>
						</div>
					</div>
					<!-- Accordion ends -->

				</div>
				<div class="col-md-6">
					<!-- Heading and para -->
					<div class="block-heading-two">
						<h3><span>Our Solution</span></h3>
					</div>
					<div class="">
						<li>
							Implementation is more important than learning.

						</li>

						<li>Our Mission is to deliver best and quality training in pune India and all over the world.
						</li>

						<li>We More Focus on implementation while training because now the world needs more implementer
							other than learner.</li>

						<li>“To produce technical expert according to Industries and also bring a positive attitude
							towards
							life for building a better nation”.</li>

						<li>To provide better future and career with the guidance of experienced, Experts, dedicated and
							talented trainers.</li>
					</div>
				</div>


				<!-- <div class="col-md-4">

					<h3>Molestie consequat</h3>
					<ul class="list2">
						<li><a href="#">Eriure dolor in hendrerit in vulpu</a></li>
						<li><a href="#">Otate velit esse molestie con</a></li>
						<li><a href="#">Bequat, vel illum dolore eu feugiat</a></li>
						<li><a href="#">Nulla facilisis at vero eros et</a></li>
						<li><a href="#">Bumsan et iusto odio dignissim</a></li>
						<li><a href="#">Equi blandit praesent lup</a></li>
					</ul>
				</div> -->

			</div>


			<hr>
			<!-- Our Team starts -->

			<!-- Heading -->
			<div class="row box1 effect2 mb-5">
				<div class="block-heading-six">
					<h4 class="bg-color">Our Team</h4>
				</div>
				<br>

				<!-- Our team starts -->

				<div class=" mb-5">
					<div class="row ">
						<div class="col-md-3 col-sm-6">
							<!-- Team Member -->
							<div class="team-member">
								<!-- Image -->
								<img src="assets/img/virendra.jpg" height="auto" width="100%" alt="" height="255">
								<!-- Name -->
								<h4>Virendra Chaudhari</h4>
								<span class="deg"><strong>Creative</strong></span>
								<p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium dolore totam rem
									aperiam.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Team Member -->
							<div class="team-member">
								<!-- Image -->
								<img height="auto" width="100%" src="assets/img/team2.jpg" alt="">
								<!-- Name -->
								<h4>Jennifer</h4>
								<span class="deg"><strong>Programmer</strong></span>
								<p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium dolore totam rem
									aperiam.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Team Member -->
							<div class="team-member">
								<!-- Image -->
								<img height="auto" width="100%" src="assets/img/team3.jpg" alt="">
								<!-- Name -->
								<h4>Christean</h4>
								<span class="deg"><strong>CEO</strong></span>
								<p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium dolore totam rem
									aperiam.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Team Member -->
							<div class="team-member">
								<!-- Image -->
								<img height="auto" width="100%" src="assets/img/team4.jpg" alt="">
								<!-- Name -->
								<h4>Kerinele rase</h4>
								<span class="deg"><strong>Manager</strong></span>
								<p>Perspiciaatis unde omnis iste natus error sit voluptatem accusantium dolore totam rem
									aperiam.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Our team ends -->

			</div>
			<hr>
		</div>

	</div>
</section>