<div class="">
	<footer>
		<div class="container footer-background">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="widget">
							<h5 class="widgetheading">Our Contact</h5>
							<address>
								<strong>VARS Technosoft</strong><br>
								Pune.</address>
							<p>
								<i class="icon-phone"></i> 9823390787 <br>
								<i class="icon-envelope-alt"></i> varstechnosoft@gmail.com
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="widget">
							<h5 class="widgetheading">Quick Links</h5>
							<li><a routerLink="/home">Home</a></li>
							<li><a routerLink="/about">About Us</a></li>
							<li><a routerLink="/cources">Cources</a></li>
							<li><a routerLink="/placement">Place Student</a></li>
							<li><a routerLink="/contact">Contact us</a></li>
						</div>
					</div>
					<!--<div class="col-md-4">
						<div class="widget">
							<h5 class="widgetheading">Latest posts</h5>
							<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
							<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
							<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
						</div>
					</div>
								<div class="col-md-3">
						<div class="widget">
							<h5 class="widgetheading">Recent News</h5>
							<ul class="link-list">
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
								<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
								<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
							</ul>
						</div>
					</div>-->
				</div>
			</div>

		</div>
		<div id="sub-footer ">
			<div class="container subFoot-background ">
				<div class="row">
					<div class="col-lg-6">
						<div class="copyright">
							<p>
								<span>&copy; VARS Technosoft All right reserved.</span>
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="display" (click)="onSelect(website.url)" *ngFor="let website of websites">
							<!--<img src="assets/img/{{website.imgPath}}" alt="icon" width="40px" height="40px" > -->
							<i class={{website.imgPath}}></i>
						</div>
						<!--<a href="https://www.facebook.com/" data-placement="top" title="Facebook"
							class="media-padding"><i class="fa fa-facebook"></i></a>

						<a href="https://www.twitter.com/" data-placement="top" title="Twitter" class="media-padding"><i
								class="fa fa-twitter"></i></a>
						<a href="https://www.linkedin.com/" data-placement="top" title="Linkedin"
							class="media-padding"><i class="fa fa-linkedin"></i></a>
						<a href="https://www.pinterest.com/" data-placement="top" title="Pinterest"
							class="media-padding"><i class="fa fa-pinterest"></i></a>
						<a href="https://plus.google.com/" data-placement="top" title="Google plus"
							class="media-padding"><i class="fa fa-google-plus"></i></a>
						<a href="https://youtube.com/" data-placement="top" title="Youtube" class="media-padding"><i
								class="fa fa-youtube"></i></a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="contactUs"><a routerLink="/contact" data-placement="top" title="Phone" class="media-padding">
				<button class="btn btn-secondary contactButton"><i class="fa fa-phone"></i>+9823390787</button> </a>
		</div></footer>
		</div>